*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: 'Playfair Display', serif;
    background-color: #050505;
    
}

/*Start of NavBar Styling*/
nav{
    height: 60px;
    display: flex;
    align-items: center;
    width: 90%;
    padding-top: 10px;
    margin: auto;
    gap: 200px;
}

.logo{
    padding-left:20px ;
}

.logo img{
    height:100% ;
    width: 80%;  
}

ul.nav-links{
    display: inline-flex;
    list-style: none;
}

li.nav-items{
    margin: 15px;
    padding: 15px;
}

li.nav-items:last-child{
    margin-left: 300px;
}


.nav-items a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: 'Playfair Display', serif;
}

.nav-items a:hover{
    color: #1D89EC;
    
}

.nav-items .fa{
    margin-left: 8px;
}

.sub-menu-1{
    display: none;
}

li.nav-items:hover .sub-menu-1{
    display: block;
    position: absolute;
    margin-top: 15px;
}

li.nav-items :hover .sub-menu-1 ul{
display: block;
margin: 10px;
list-style: none;
}

/*End of NavBar Styling*/

/**Start of Hero section**/
.hero{
    margin: 2rem auto;
    width: 96%;
    height: 90vh;
    background: url('./Images/CatalogueHero.png');
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.hero-header-text{
    display: flex;
    margin: 6rem 0 3rem 0;
}

h2.hero-text{
    font-family: 'Poppins', sans-serif;
    font-size: 4.5rem;
    color: #FFFFFF;
    font-weight: bold;
}

.search-bar{
    margin: 5rem 0 0 0;
    display: flex;
    align-items: center;

}

input{
    width: 60vw;
    height: 10vh;
    border-radius: 3rem;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2rem ;
    outline: none;    
    padding-left: 3rem;
}

button.search-btn{
    width: 8vw;
    height: 7vh;
    border-radius: 6rem;
    background-color: #4B4B4B;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.2rem;
    font-weight: lighter;
}

button.search-btn:hover{
    background-color: #9747FF;
    color: black;
    font-weight: bold;
}

img.search-icon{
    height: 5vh;
}

.active-text{
    max-width: 95%;
    margin: 5rem auto;
}

h4.active-text{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}



/**Start of Carousel Styling**/
.container-fluid{
    background-color: #141313;
    width: 95%;
    height: auto;
    margin: auto;
    border-radius: 1.5rem;
}

.auction-title{
    display:flex;
    justify-content: flex-start;
    padding-left: 4rem;
}
h4.title {
    color: white;
    margin: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    position: absolute;
}
.card{
    width:auto;
    min-width:200px;
    margin:9rem;
    background-color: white;
    border-radius: 23px;

}
.image{
    margin:2rem;
    
}
.card-body{
    overflow: hidden;
    min-width: none;
}
.card-title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    align-items: center;
    color: #000000;
}
.card-text{
    color: #4B4B4B;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    
}
.more-info{
    flex:0.2;
    display: flex;
    
}
.car-logo{
    width:25px;
    height:25px;
    flex:none ;
    border: 1px solid black;
    flex:0.1;
    
}
.text{
    flex-direction: column;
    flex:0.1
}
.more-text{
    flex:0.05;
    display: flex;
    margin-left: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;

}
.seller{
    flex:0.05;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-left: 1rem;
    margin-top: 0rem;
    
}

.price{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0;
    flex:0.05;
    display: block;
}
.label{
    font-family: 'Poppins', sans-serif;
    font-style: normal; 
    margin-top: 0;
    flex:0.05;
    display: block;

    

}
.btn-bidding{
    background-color:#9747FF;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-top: 0;
    width:9rem;
    display: flex;
    text-align: right;
    cursor: pointer;
    color:white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    
}
.btn-bidding a{
    text-decoration: none;
    color: white!important;
    text-align: center;
}
.btn-bidding:hover{
    background-color:#000000;
    cursor: pointer;
}
/**End of carousel Styling**/

/*Start of footer section*/
section.footer{
    width: 90%;
    margin: auto;
}

.row-1{
    gap: 59.25%;
    display: flex;
    padding-top:4rem;  
}

h4.footer-header{
    color: #fff;
    font-size: 2rem;
    font-family: 'Playfair Display', serif; 
}

.row-2{
display: flex;
justify-content: space-around;
}

.col-2{
    margin-right: 50px;
}

.col-2,
.col-3,
.col-4{
    flex: 1;
}


img.footer-vector{
    box-sizing: border-box;
    width: 100%;
    margin: 2rem auto;
}

h4.contacts{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

span{
    color: blue;
}

.back-to-top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0px 0px 0px;
}

.scroll-link{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.scroll-link:hover{
    color: blue;

}

h4.socials{
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    text-align: left;
}

.social-icons{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.social-icons a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    cursor: pointer;
}

.social-icons a:hover{
    color: blue;
}

@media screen and (max-width:500px){
    section.footer{
        box-sizing: border-box;
    }

    h4.contact{
        display: none;
    }

    h4.contacts{
        font-size: 1rem;
    }

    .row-1{
        display: flex;
    }
    .row-2{
        display: flex;
        flex-direction: column;
    }

    .col-2{
        margin-bottom: 2rem;
    }

    .col-3{
        margin-bottom: 2rem;
    }

    .col-4{
        margin-bottom: 2rem;
    }

    h4.socials{
        font-size: 1.5rem;
    }

    .back-to-top{
        display: none;
    }

    iframe{
        width: 100%;
    }
 
}
/*End of footer section*/